.bioContainer {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  font-size: 1rem;
  line-height: 1.8;
  max-height: 75vh;
  overflow-y: auto;
  padding-right: 1rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.bioContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
