.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem 0;
  border-top: 1px solid #444;
  z-index: 5;
}
