:root {
  --font-poppins: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'Brown Sugar';
  src: url('/fonts/brown-sugar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: var(--font-poppins);


}

* {
  box-sizing: border-box;
}

button {
  background: none;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

input, textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
}

input:focus, textarea:focus {
  outline: 2px solid #999;
  background-color: #111;
  color: white;
}

button[type="submit"] {
  background-color: white;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #ccc;
}
