:root {
  --font-poppins: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'Brown Sugar';
  src: url('/fonts/brown-sugar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body,
input,
textarea,
button {
  font-family: "Century Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

button {
  background: none;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  cursor: pointer;
}

input, textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(2px);
  border-radius: 6px;
}

input:focus, textarea:focus {
  outline: 2px solid #999;
  background-color: #111;
  color: white;
}

button[type="submit"] {
  background-color: black;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #333;
}

